/* COLOURS */
body {
  transition: background-color 1s ease-out 100ms;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
/* stylelint-disable selector-list-comma-newline-after */
.blog-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
}
.blog-header > .row {
  padding-top: 0.5rem;
}

.site-name {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  font-size: 2.25rem;
  text-decoration: none;
}
.site-name:hover {
  text-decoration: underline;
}

.page-title {
  text-transform: uppercase;
  font-size: 2.75rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

.display-4 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

.nav-scroller {
  border-bottom: 1px solid #e5e5e5;
  position: relative;
  z-index: 2;
  height: 3.5rem;
  overflow-y: hidden;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
}
.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}
.nav-scroller .nav-link {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 0.875rem;
}
.nav-scroller .main-menu {
  padding-bottom: 0;
}

.main-menu .nav-item {
  padding: 1rem 0.5rem !important;
  transition: background-color 0.5s ease-out 100ms;
}
.main-menu .nav-item a {
  text-decoration: none;
}
.main-menu .nav-item:hover {
  background-color: #e5e5e5 !important;
  padding-bottom: 0.2rem !important;
  border-bottom: 6px rgb(52, 58, 64) solid;
}
.main-menu .nav-item:nth-child(2n):hover {
  border-bottom: 6px #ca0020 solid;
}
.main-menu .nav-item:nth-child(3n):hover {
  border-bottom: 6px #000033 solid;
}
.main-menu .nav-item:nth-child(4n):hover {
  border-bottom: 6px #509b4e solid;
}
.main-menu .nav-item:nth-child(5n):hover {
  border-bottom: 6px #fffa84 solid;
}
.main-menu .nav-item.current-page {
  background-color: rgb(248, 249, 250);
  color: rgb(73, 79, 84);
}

.toggle-lang {
  margin-top: -1px;
}
.toggle-lang a {
  display: block;
  text-decoration: none;
}
.toggle-lang a:hover {
  background-color: #e5e5e5;
  text-decoration: underline;
}
.toggle-lang img {
  height: 1rem;
}
.toggle-lang .lang-fr {
  display: none;
}

body.lang-fr .main-menu.en {
  display: none;
}
body.lang-fr .toggle-lang .lang-en {
  display: block;
}
body.lang-fr .toggle-lang .lang-fr {
  display: none;
}

body.lang-en .main-menu.fr {
  display: none;
}
body.lang-en .toggle-lang .lang-en {
  display: none;
}
body.lang-en .toggle-lang .lang-fr {
  display: block;
}

body.dark-mode {
  color: rgb(195, 190, 182) !important;
  background-color: rgb(24, 26, 27);
  transition: background-color 0.25s ease-out 100ms;
}
body.dark-mode .text-dark {
  color: rgb(195, 190, 182) !important;
}
body.dark-mode .bg-light {
  background-color: rgb(52, 58, 64) !important;
}
body.dark-mode .blog-footer {
  background-color: rgb(24, 26, 27);
}

.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

.flex-auto {
  flex: 0 0 auto;
}

.h-250 {
  height: 250px;
}

@media (min-width: 768px) {
  .h-md-250 {
    height: 250px;
  }
}
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------- */
/* Carousel base class */
.carousel {
  margin-bottom: 2rem;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}
@media (min-width: 40em) {
  .carousel-caption p { /* Bump up size of carousel content */
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}

/*
* Main
*/
body.home.lang-fr .main .en {
  display: none;
}

body.home.lang-en .main .fr {
  display: none;
}

.row {
  padding: 1rem 0;
}

body.home .row {
  padding: 0;
}

/* About Page */
body.about h3 {
  padding: 1rem 0 0.5rem;
}
body.about .page-title {
  margin-bottom: 0;
}
body.about .team-bios [class^=col-lg] {
  padding-bottom: 2rem;
}
body.about .team-bios .page-title-container {
  padding-bottom: 0;
}
body.about .team-bios .bio-pic {
  width: 200px;
}

/* Bios */
@media (max-width: 767.98px) {
  body.page-bio .bio-pic-container {
    display: flex;
    justify-content: center;
  }
}
body.page-bio .bio-pic {
  width: calc(20rem + 0.9vw);
  padding-right: 1.5rem;
  padding-top: 0.25rem;
}
@media (max-width: 767.98px) {
  body.page-bio .bio-pic {
    padding: 0 1.5rem 0.5rem;
    float: none !important;
    margin: 0 auto;
  }
}
@media (max-width: 767.98px) {
  body.page-bio .page-title {
    text-align: center;
  }
}

/*
* Blog posts
*/
.blog-post {
  margin-bottom: 4rem;
}

body.lang-fr .blog-post.en {
  display: none;
}

body.lang-en .blog-post.fr {
  display: none;
}

.blog-post-title {
  margin-bottom: 0.25rem;
  font-size: 2.5rem;
}

.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #727272;
}

/*
* Footer
*/
.blog-footer {
  padding: 2.5rem 0;
  color: #727272;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 0.05rem solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

/* RESPONSIVE CSS
-------------------------------------------------- *//*# sourceMappingURL=style.css.map */